# Ignore backup artifacts
*.zip

# Ignore automation script itself
organize_scripts.ps1

# Ignore Google Drive temp folders
.tmp.driveupload/
.tmp.drivedownload/

# Ignore folders not needed in repo
archive/
misc/

# Ignore Python and PowerShell garbage
__pycache__/
*.pyc
*.ps1~
